
  
  .up-balance {
    box-sizing: border-box;
    width: 40%;
    margin: 7% auto 0;
    background: #ebebeb;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    text-align:left;
  }


  .up-balance div {
      display: inline;
      font-size: 3.5vh;
  }

  .up-balance label{
      margin-left:15%;
  }

  .worker{
      width:50%;
      float:left;
  }

  .balance{
      width:50%;
      float:right;
  }


  .up-balance p {
    color:#606060;
    width:95%;
    box-sizing: border-box;
    text-align:center;
  }

    input {
    width: 70%;
    margin: 0% 15% 0% 15%;
    display: block;
    background: white;
    border: none;
    padding: 2%;
    outline:none;
  }

  input:select{
      border:none;
      outline:none;
  }

  button {
    border: none;
    background: #3d8af7;
    cursor: pointer;
    padding: 6px;
    width: 30%;
    color: white;
    margin-left: 35%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  }
  