<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Exadel - Grandmother</title>
<link rel="shortcut icon" href="img/exadel_icon.ico">
<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<header>

    <div class="logo">
        <img src="img/logoExadel.png" alt="logoExadel">
    </div>

    <div class="userInfo">
        
        <span class="userInfo__name">
            Имя
        </span>
        <span class="userInfo__button">
            Выход
        </span>
    </div>
 
</header>

<main>
<div class="container">
   
    <div class="tab_menu">
        <div class="tab_menu_item ">Меню</div>
        <div class="tab_menu_item ">Пополнить баланс</div>
        <div class="tab_menu_item active">Заказы</div>
    </div>

    <div class="orders-component">
        <div class="toolbar">
            
            <div class="search_box">
                <img class="search_icon" src="icons/search.svg"></img>
                <input placeholder="Введите пользователя" list="name">
                
                <datalist id="name">
                    <option value="admin"></option>
                    <option value="lol"></option>
                    <option value="asdas"></option>
                </datalist>
            </div>
            
            <select>
                <option selected disabled>День недели</option>
                <option value="1">Понедельник</option>
                <option value="2">Вторник</option>
                <option value="3">Среда</option>
                <option value="4">Четверг</option>
                <option value="5">Пятница</option>
                <option value="6">Суббота</option>
            </select>
        </div>
    
            
    
        <table class="orders-table">
            
            <tr class="orders-table-header">
                <th>Имя</th>
                <th>Заказ</th>
                <th>ЕЩЕ</th>
            </tr>

            <tr class="orders-table-row">
                <td>Павел</td>
                <td>Котлета</td>
                <td>ЕЩЕ</td>
            </tr>

            <tr class="orders-table-row">
                <td>НеПавел</td>
                <td>НеКотлета</td>
                <td>ЕЩЕ</td>
            </tr>
            <tr class="orders-table-row">
                <td class="table-name">Павлуша</td>
                <td>НеКотлета</td>
                <td>ЕЩЕ</td>
            </tr>
        </table>
    
        <div class="statistics">
            <h3>Итоговый заказ</h3>
            <table class="orders-result">
                <tr class="orders-result-row">
                    <td>Котлет</td>
                    <td>56</td>
                </tr>
                <tr class="orders-result-row">
                    <td>Пюрешки</td>
                    <td>2</td>
                </tr>
                <tr class="orders-result-row">
                    <td>Суп</td>
                    <td>1</td>
    
                </tr>
            </table>
        </div>
        
        <button class="btn btn-submit-orders">
            Заказать!
        </button>
    </div>

</div>
   
</main>

<footer><p>Exadel</p></footer>

</body>
</html>