<!DOCTYPE html>

<html>

<head>
    <link href="./styles/admin-orders.css" rel="stylesheet">
</head>

<body>
    <header>

        <div class="logo">
            <img src="./pics/logoExadel.png" alt="logoExadel">
        </div>

        <div class="userInfo">
            <span class="userInfo__name">
                Имя
            </span>
            <span class="userInfo__button">
                Выход
            </span>
        </div>

    </header>

    <main>
        <div class="orders-component">
            <div class="toolbar">
                <div class="search_box">
                    <img class="search_icon" src="icons/search.svg"></img>
                    <input placeholder="Введите пользователя">
                </div>
                <select>
                    <option selected disabled>День недели</option>
                    <option value="1">Понедельник</option>
                    <option value="2">Вторник</option>
                    <option value="3">Среда</option>
                    <option value="4">Четверг</option>
                    <option value="5">Пятница</option>
                    <option value="6">Суббота</option>
                </select>
            </div>

            <table class="orders-table-header">
                <tr>
                    <td>Имя</td>
                    <td>Заказ</td>
                    <td>ЕЩЕ</td>
                </tr>

            </table>
            <table class="orders-table">
                <tr class="orders-table-row">
                    <td>Павел</td>
                    <td>Котлета</td>
                    <td>ЕЩЕ</td>
                </tr>
                <tr class="orders-table-row">
                    <td>НеПавел</td>
                    <td>НеКотлета</td>
                    <td>ЕЩЕ</td>
                </tr>
                <tr class="orders-table-row">
                    <td class="table-name">Павлуша</td>
                    <td>НеКотлета</td>
                    <td>ЕЩЕ</td>
                </tr>
            </table>

            <div class="statistics">
                Итоговый заказ
            </div>

            <button class="btn btn-submit-orders">
                Заказать!
            </button>

        </div>
    </main>
    <footer>
        <p>Exadel</p>
    </footer>
</body>


</html>