<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exadel - Grandmother</title>
    <link rel="shortcut icon" href="./pics/logoExadel.png">
    <link rel="stylesheet" type="text/css" href="./styles/user-main.css">
</head>

<body>
    <header>

        <div class="logo">
            <img src="./pics/logoExadel.png" alt="logoExadel">
        </div>

        <div class="userInfo">
            <span class="userInfo__balans">
                Баланс:
                <b>25</b> руб.
            </span>
            <span class="userInfo__name">
                Имя
            </span>
            <span class="userInfo__button">
                Выход
            </span>
        </div>

    </header>

    <main>
        <div class="container">
            <div class="mainInfo">
                <div class="generalInfo">
                    <!-- <div class="timeShedule">
                <p>Неделя (09.04 - 13.04)</p>
            </div>
            <div class="countMoney">
                <p>Итого за неделю: 56р</p>
            </div> -->
                </div>

                <div class="items">

                    <div class="item">
                        <div class="item__Func">
                            <h5>Пн</h5>
                        </div>

                        <div class="item__menu">
                            <table>
                                <caption>Меню на день:</caption>
                                <tbody>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Стоимость</th>
                                    </tr>

                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="item past_menu">
                        <div class="itemFunc">
                            <h5>Пн</h5>
                        </div>

                        <div class="item__menu">
                            <table>
                                <caption>Оформленный заказ</caption>
                                <tbody>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Стоимость</th>
                                    </tr>

                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="price">
                            Итого: 56 руб.
                        </div>
                    </div>

                    <div class="item future_menu">
                        <div class="itemFunc">
                            <h5>Ср</h5>
                            <div class="itemFunc__buttons">
                                <span>
                                    <svg fill="#606060" height="30" viewBox="0 0 24 24" width="30">
                                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                                        />
                                    </svg>
                                </span>

                                <span>
                                    <svg fill="#606060" height="30" viewBox="0 0 24 24" width="30">
                                        <path d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z" />
                                    </svg>
                                </span>
                            </div>
                        </div>

                        <div class="item__menu">
                            <table>
                                <caption>Оформленный заказ:</caption>
                                <tbody>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Стоимость</th>
                                    </tr>

                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>

                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="price">
                            Итого: 56 руб.
                        </div>
                    </div>



                    <div class="item edit_menu">
                        <div class="itemFunc">
                            <h5>Вт</h5>
                            <div class="itemFunc__buttons">
                                <span>
                                    <svg fill="#606060" height="30" viewBox="0 0 24 24" width="30">
                                        <path d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z" />
                                    </svg>
                                </span>
                            </div>
                        </div>

                        <div class="item__menu">
                            <table>
                                <caption>Меню на день:</caption>
                                <tbody>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Стоимость</th>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.
                                        </td>
                                        <td class="count_products">

                                            <span class="remove">
                                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                                                    <path d="M19 13H5v-2h14v2z" />
                                                </svg>
                                            </span>
                                            <span class="count">5</span>

                                            <span class="add">
                                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                                                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                                                </svg>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.
                                        </td>
                                        <td class="count_products">

                                            <span class="remove">
                                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                                                    <path d="M19 13H5v-2h14v2z" />
                                                </svg>
                                            </span>
                                            <span class="count">2</span>

                                            <span class="add">
                                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                                                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                                                </svg>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <caption>Постоянное:</caption>
                                <tbody>
                                    <tr>
                                        <td>Хлеб</td>
                                        <td>
                                            <b>3</b> руб.
                                        </td>
                                        <td class="count_products">
                                            <span class="remove">
                                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                                                    <path d="M19 13H5v-2h14v2z" />
                                                </svg>
                                            </span>
                                            <span class="count">5</span>
                                            <span class="add">
                                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                                                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
                                                </svg>
                                            </span>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                            <div>
                                <select name="food" id="">
                                    <option value="cat">cat</option>
                                    <option value="bread">bread</option>
                                </select>
                            </div>
                        </div>
                        <div class="price edit">
                            Итого: 56 руб.
                        </div>

                        <div class="add_menu">
                            <button>
                                Заказать!
                            </button>
                        </div>
                    </div>



                    <div class="item">
                        <div class="itemFunc">
                            <h5>Пт</h5>
                        </div>

                        <div class="item__menu">
                            <table>
                                <caption>Меню на день:</caption>
                                <tbody>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Стоимость</th>
                                    </tr>

                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="new_menu">
                            Сформировать заказ
                        </button>
                    </div>

                    <div class="item">
                        <div class="itemFunc">
                            <h5>Пт</h5>
                        </div>

                        <div class="item__menu">
                            <table>
                                <caption>Меню на день:</caption>
                                <tbody>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Стоимость</th>
                                    </tr>

                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Мясо</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                    <tr>
                                        <td>Картошка</td>
                                        <td>
                                            <b>56</b> руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="new_menu">
                            Сформировать заказ
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <footer>
        <p>Exadel</p>
    </footer>

</body>

</html>