
html {
	height: 100%
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --grey-dark: var(--grey-dark);
    --grey-black: #444444;
    --white-grey: #ebebeb;
    --border-component: 1px solid #7a7a7a1a;
    --border-radius-component: 3px;
}

p {
    font-size: 16px;
}

img {
	width: 100%;
    user-select: none;
}

a {
    color: var(--grey-gark);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, th {
	color: var(--grey-dark)
}

b {
    color: var(--grey-black)
}

body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    flex-direction: column;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #7a7a7a;   
}

.logo {
    padding: 0px 5px;
	width: 150px;
    margin-right: auto;
    margin-left: 50px;
}

main {
    display: flex;
    flex: 1
}

.container {
    width: 100%;
    padding: 35px 100px;
}