.orders-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.toolbar{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0 10px 0;
}
.toolbar select{
    width:35%;
    border:2px solid #efefef;
}
.orders-table-header{
    width:80%;
    height: 40px;
    background: rgb(68, 68, 68, 0.85);
    color: white; 
    border: 2px solid rgb(49, 49, 49, 0.85);

}
.search_box{
    width:55%;
    height: 30px;
    border:2px solid #efefef;
    display: flex;
    flex-direction: row;
}
.search_box input{
    width:100%;
    border:none;
    user-select: none;
}

.orders-table{
    width:80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.orders-table tbody tr:nth-child(odd){
    background: #f8f9fb;
}

.orders-table tbody tr{
    height: 40px;
}
td{
    width:33%;
    padding-left: 30px;
}

.btn{
    width: 150px;
    height: 50px;
    background: rgb(61, 138, 247);
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 25px;
    border:none;

}
.btn:hover{
    background: #4c94f8;  
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor:pointer;
}
.btn:active{
    background: #3787f8;  
}
.statistics{
    margin-top: 40px;
    background: #e7e6e6;
    width:80%;
    min-height:70px;
    text-align: center;
    padding-top: 30px;
}


input:focus, select:focus{
    outline: none;
}

img{
    user-select: none;
}
.search_icon{
    width:auto !important
}

<!--смотри вниз, там общие для всех старничек стили-->









html {
	height: 100%
}

* {
	margin: 0;
	padding: 0;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

p {
	font-size: 16px;
}


img {
	width: 100%;
}

svg:hover {
    cursor: pointer;
    fill: black
}

body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    flex-direction: column;
	min-height: 100vh;
	font-family: sans-serif;
	color: #7a7a7a;   
}



header {
    position: sticky;
    top: 0;
    display: flex;
    background-color:#ebebeb;
    padding: 10px 0px 10px 0px;
    z-index: 2;
	align-items: center;
	justify-content: space-around;
	color: #606060;
    border-bottom: 1px solid #7a7a7a1a;
}

.logo {
	width: 150px;
    margin-right: auto;
    margin-left: 50px;
}

.userInfo {
	font-size: 25px;
}

.userInfo span {
	margin: 0px 20px;
}


main {
	flex:1;
	justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

footer{
	display: flex;
    flex-basis: 100%;
    padding: 20px 0 20px 0;
	justify-content: center;
	background: #eaeaea;
}


