
html {
	height: 100%
}

* {
	margin: 0;
	padding: 0;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

p {
	font-size: 16px;
}


img {
	width: 100%;
}

h1, h2, h3, h4, h5, h6, th, b, .price {
	color: #606060
}

table {
	padding: 0px 20px 30px 20px;
    text-align: left;
	width: 100%;
}

th {
	padding-bottom: 20px;
    font-size: 18px;
    padding-top: 10px;
}

td {
	font-size: 18px;
	padding-right: 35px;
	padding-bottom: 3px;
}

button {
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    background: #3d8af7;
    padding: 5px 10px;
}

svg:hover {
    cursor: pointer;
    fill: black
}

body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    flex-direction: column;
	min-height: 100vh;
	font-family: sans-serif;
	color: #7a7a7a;   
}

header {
    position: sticky;
    top: 0;
    display: flex;
    background-color:#ebebeb;
    padding: 10px 0px 10px 0px;
    z-index: 2;
	align-items: center;
	justify-content: space-around;
	color: #606060;
    border-bottom: 1px solid #7a7a7a1a;
}

.logo {
	width: 150px;
    margin-right: auto;
    margin-left: 50px;
}

.userInfo {
	font-size: 25px;
}

.userInfo span {
	margin: 0px 20px;
}

main {
	flex:1;
	justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.container {
	padding: 0px 100px;
}

.generalInfo {
	display: flex;
    justify-content: space-between;
}

.items {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item__Func {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.item__Func h5 {
	text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 20px;
}



.item {
    position: relative;
    margin: 15px;
    /* width: 300px; */
    min-height: 450px;
    text-align: center;
    background: #f7f6f6;
    border-radius: 3px;
    border: 1px solid #7a7a7a1a;
    padding: 20px;
    box-shadow: 4px 6px 8px 0px #0000004a;
}

.price {
    position: absolute;
    padding: 20px;
    background: #ebebeb;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    right: 0;
    bottom: 0;
}

.price.edit {
    bottom: 70px;
    padding: 10px;
}

.new_menu {
    padding: 10px 20px;
}
.past_menu {
    border-top: 3px solid black;
}

.edit_menu {
    box-shadow: 4px 5px 6px 1px #1464f685;
    border-top: 3px solid #1464f6;
}

.count_products {
    display: flex;
}

.add_menu {
    position: absolute;
    top: 88%;
    width: 100%;
    left: 0;
}


button:hover {
    background: #72bb53;
}

.future_menu {
    box-shadow: 4px 5px 6px 1px #72bb537a;
    border-top: 3px solid #72bb53;
}

.item caption {
	font-size: 15px;
}

footer{
	display: flex;
    flex-basis: 100%;
    padding: 20px 0 20px 0;
	justify-content: center;
	background: #eaeaea;
}


